/* login.css */
.form-container {
  @apply max-w-md mx-auto mt-20 p-6 bg-white rounded-lg shadow-md;
}

.form-label {
  @apply block mb-1 font-semibold text-gray-700;
}

/* button {
  @apply w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 rounded transition duration-300;
} */

button:disabled {
  @apply bg-blue-300 cursor-not-allowed;
}
